[/var/log/*log]
type: syslog
tags: sys
exclude: (messages|secure)
add_field: instance-id,{{ ec2_id }},instance-type,{{ ec2_instance_type }},ip-address,{{ ec2_private_ip_address }}

[/var/log/{messages,secure}.log]
type: syslog
tags: sys
add_field: instance-id,{{ ec2_id }},instance-type,{{ ec2_instance_type }},ip-address,{{ ec2_private_ip_address }}
