##################### Elasticsearch Configuration Example #####################

cluster.name: {{ elasticsearch_cluster_name | default('elasticsearch') }}

index.number_of_shards: {{ index_number_of_shards | default(20) }}

index.number_of_replicas: {{ index_number_of_replicas | default(1) }}

path.data: {{ elasticsearch_path_data | default ('/mnt') }}

bootstrap.mlockall: {{ bootstrap_mlockall | default('true') }}

network.bind_host: {{ elasticsearch_bind_host | default('0.0.0.0') }}

transport.tcp.port: {{ elasticsearch_tcp_port | default('9300') }}

transport.tcp.compress: {{ transport_tcp_compress | default('true') }}

http.port: {{ elasticsearch_http_port | default('9200') }}

http.max_content_length: {{ http_max_content_length | default('100mb') }}

http.enabled: {{ http_enabled | default('true') }}


gateway.type: {{ gateway_type | default('local') }}

gateway.recover_after_nodes: {{ gateway_recover_after_nodes | default(1) }}

gateway.recover_after_time: {{ gateway_recover_after_time | default('5m') }}

gateway.expected_nodes: {{ gateway_expected_nodes | default(2) }}


cluster.routing.allocation.node_initial_primaries_recoveries: {{ cluster_routing_allocation_node_initial_primaries_recoveries | default(4) }}

cluster.routing.allocation.node_concurrent_recoveries: {{ cluster_routing_allocation_node_concurrent_recoveries | default(2) }}

indices.recovery.max_bytes_per_sec: {{ indices_recovery_max_bytes_per_sec | default('100mb') }}

indices.recovery.concurrent_streams: {{ indices_recovery_concurrent_streams | default(20) }}

discovery.zen.ping.multicast.enabled: {{ discovery_zen_ping_multicast_enabled | default('false') }}

cloud:
    aws.region: {{ ec2_region | default('us-east-1') }}

discovery:
    type: ec2
    ec2.tag.{{ elasticsearch_cluster_tag_name | default('InstanceRole') }}: {{ elasticsearch_cluster_tag_value | default('Elasticsearch') }}

################################## Slow Log ##################################

# Shard level query and fetch threshold logging.

index.search.slowlog.threshold.query.warn: {{ index_search_slowlog_threshold_query_warn | default('10s') }}
index.search.slowlog.threshold.query.info: {{ index_search_slowlog_threshold_query_info | default('5s') }}
index.search.slowlog.threshold.query.debug: {{ index_search_slowlog_threshold_query_debug | default('2s') }}
index.search.slowlog.threshold.query.trace: {{ index_search_slowlog_threshold_query_trace | default('500ms') }}

index.search.slowlog.threshold.fetch.warn: {{ index_search_slowlog_threshold_fetch_warn | default('1s') }}
index.search.slowlog.threshold.fetch.info: {{ index_search_slowlog_threshold_fetch_info | default('800ms') }}
index.search.slowlog.threshold.fetch.debug: {{ index_search_slowlog_threshold_fetch_debug | default('500ms') }}
index.search.slowlog.threshold.fetch.trace: {{ index_search_slowlog_threshold_fetch_trace | default('200ms') }}

index.indexing.slowlog.threshold.index.warn: {{ index_indexing_slowlog_threshold_index_warn | default('10s') }}
index.indexing.slowlog.threshold.index.info: {{ index_indexing_slowlog_threshold_index_info | default('5s') }}
index.indexing.slowlog.threshold.index.debug: {{ index_indexing_slowlog_threshold_index_debug | default('2s') }}
index.indexing.slowlog.threshold.index.trace: {{ index_indexing_slowlog_threshold_index_trace | default('500ms') }}

################################## GC Logging ################################

monitor.jvm.gc.young.warn: {{ monitor_jvm_gc_young_warn | default('1000ms') }}
monitor.jvm.gc.young.info: {{ monitor_jvm_gc_young_info | default('700ms') }}
monitor.jvm.gc.young.debug: {{ monitor_jvm_gc_young_debug | default('400ms') }}

monitor.jvm.gc.old.warn: {{ monitor_jvm_gc_old_warn | default('10s') }}
monitor.jvm.gc.old.info: {{ monitor_jvm_gc_old_info | default('5s') }}
monitor.jvm.gc.old.debug: {{ monitor_jvm_gc_old_debug | default('2s') }}

